.todo-list-item {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-item-label {
  margin-left: 1.25rem;
  line-height: 35px;
  user-select: none;
  font-weight: 300;
  transition: all 0.15s ease;
}

.todo-list-item.done .todo-list-item-label {
  font-weight: 500;
  color: #478053;
}

.todo-list-item.done .btn-done {
  color: #8eb897;
}

.todo-list-item.done .btn-done {
  background: #eff1f3;
  box-shadow: inset 4px 4px 7px #cbcdcf, inset -4px -4px 7px #ffffff;
}

.todo-list-item .btn {
  width: 35px;
  height: 35px;
  margin: 3px 5px;
  padding: 0;
  padding-left: 1px;
}

.todo-list-item .btn-trash:hover,
.todo-list-item .btn-trash:focus {
  color: #ff9b85;
}

.todo-list-item .btn-done {
  margin-left: auto;
}

.todo-list-item .btn-done:hover,
.todo-list-item .btn-done:focus {
  color: #8eb897;
}
