.item-add-form {
  margin-top: 28px;
}

.item-add-form input {
  margin-right: 8px;
}

.item-add-form .btn-add {
  background: linear-gradient(145deg, #ffffff, #d7d9db);
  color: #656565;
  box-shadow: 4px 4px 7px #cbcdcf;
  white-space: nowrap;
}
