.todo-list .list-group-item {
  border: none;

  padding: 0.25rem 0.75rem;
  background: linear-gradient(-5deg, #e0e0e0, #ffffff);
}

.todo-list {
  border-radius: 5px;
  background: #eff1f3;
  box-shadow: 10px 10px 30px #cbcdcf, -15px -15px 25px #ffffff;
}
